.fieldElement{
    display:inline-block !important;
    margin-left:20px;
    margin-right:20px;
    }
.fieldContainer{

    width: fit-content;
    position:center;

    border:1px solid #C4C4C4;
    background-color:#F7F7F7;
    padding:15px 20px;
    border-radius:10px;
    color:#333;
    margin-bottom: 15px;
}
.subContainer{
    position:center;
    border:1px solid #c4c4be;
    background-color: #fbfff9;
    padding:15px 20px;
    border-radius:10px;
    color:#333;
    margin-bottom: 5px;
}

.fileBtn{
    margin :20px;
    width:100px;
}

.fieldBox{
    margin-bottom: 50px;
}

.card.col-lg-10{
    padding-right:0px ;
    padding-left: 0px;
}

.subText{
fontStyle:italics;
    color:lightslategrey;
}

.inline{
    display: inline-block;
}

.inline1{
    display: inline;
}
.verify{
    text-align: center;
}

.unit{
    display: inline-block;
    vertical-align: middle;
}

#dateTxtBox
{
    font-size:18pt;

}

#sel2{
    width:25ch;
}

.modal{
    width: auto;
}
.modal-dialog{
    max-width: fit-content;
    width:auto;
}